* {
    box-sizing: border-box;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 24px;
    width: 100%;
}

@media (min-width: 768px) {
    .cards {
    padding: 96px;
    }
}